:root {
  --cushion: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid: 8vh 1fr auto / auto;
}

button {
  border: none;
  background: yellow;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.super-centered {
  display: grid;
  place-items: center;
}

.pancake-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pancake-no-stretching {
    flex: 0 1 300px;
    margin: 10px;
  }

  .pancake-stretching {
    flex: 1 1 300px;
    margin: var(--cushion);
  }
}

/* Header */
header {
  display: grid;
  grid: auto / 250px auto 200px;
  align-items: center;
  padding: 0 10vw;
  background: fuchsia;

  h1 {
    font-size: larger;
    background: slateblue;
  }

  nav {
    background:  red;

    ul {
      display: flex;
      justify-content: space-evenly;
      background:  violet;

      li {
        text-transform: uppercase;
        background:  green;
      }
    }
  }

  #authentication {
    background:  yellow;

    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        background: green;
      }
    }
  }
}

/* Main */
main {
  display: grid;
  grid: 72vh auto / auto;

  /* Hero */
  #hero-section {
    width: 100%;
    background: slategray;
    position: relative;

    #hero-image {
      width: 100%;
      height: 100%;
      background: slateblue;
    }

    #hero-container {
      background: goldenrod;
      position: absolute;
      width: 200px;
      left: calc(50% - 100px);
      bottom: 20%;
      z-index: 10;

      .hero-heading {
        background: hotpink;
        padding: var(--cushion);
      }

      .hero-content {
        background: mediumpurple;
        padding: var(--cushion);
      }
    }
  }

  /* Features */
  #features-section {
    background: brown;
    width: 80vw;
    margin: 0 auto;
    padding: var(--cushion) 0;

    .feature {
      background: mediumturquoise;
      height: 200px;
    }
  }
}

/* Footer */
footer {
  background: slategray;
  padding: var(--cushion);

  #footer-links ul {
    background: darkorange;

    li {
      padding: var(--cushion);

      a {
        background: orangered;
      }
    }
  }

  #copyright {
    background: darkviolet;
  }
}
